.App {
  display: flex;
}

h2 {
  margin: 0;
}

/***********
 * SIDEBAR *
 ***********/

.sidebar-section {
  position: relative;
}

.container {
  position: absolute;
  left: 47%;
  top: -8%;
  transform: translate(-50%);
}

.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  color: transparent;
  font-size: .75rem;
  line-height: 25px;
}

.search-box input[type="text"]:hover {
  cursor: pointer;
}

.search-box input[type="text"]:hover:focus {
  cursor: text;
}

.search-box input[type="text"]:hover+span {
  background: rgba(255, 255, 255, 0.2);
}

.search-box input[type="text"]:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: white;
}

.search-box input[type="text"]:focus+span {
  width: 200px;
}

.search-box input[type="text"]:focus+span::before {
  width: 2px;
  opacity: 0;
  transition: all .25s ease-in;
}

.search-box input[type="text"]+span {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0;
}

.search-box input[type="text"]+span::before {
  transition: all .25s ease-in .5s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: rotate(45deg) translate(26px, -2px);
}


.search {
  background: #f3f2ed;
  width: 100%;
  padding: 3px;
  border-radius: 15px;
  border-color: black;
  border-width: 5px
}

.list {
  list-style-type: none;
  text-align: center;
  margin-top: 25%;
  margin-left: -23%;
}

.list-item {
  padding: 10px;
  margin: 15px 0px 15px 0px;
  cursor: pointer;
}

.list-item:hover,
.list-item:active {
  color: yellowgreen;
  font-size: 20px;
}

/**************
 * MAP WINDOW *
 **************/

.images {
  height: 35vh;
  border-radius: 5px;
}

.gm-style .gm-style-iw {
  text-align: center;
}

figcaption {
  text-align: left;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

/******************
 * HAMBURGER MENU *
 ******************/

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 35px;
  right: 36px;
  top: 51px;
  left: 24px;
}

.bm-burger-bars {
  background: yellow;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  right: 50px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 9px;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  height: 100%;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}